# Ignore all dotfiles...
.*
# except for .gitignore and .travis_scripts
!.gitignore
!.travis_scripts

*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

*.sublime-*
*.iml
