<configuration>
  <conversionRule conversionWord="coloredLevel" converterClass="reactivemongo.extensions.util.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{5}%caller{0}</pattern>
    </encoder>
  </appender>

  <logger name="reactivemongo.api" level="ERROR" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
